.container{
    width: 500px;
    height: 100%;
    margin: 0 auto;
}
table{
    width: 100%;
}
p{
    text-align: center;
}
th{
    background-color: rgb(212, 209, 209);
    padding: 5px;
    text-align: left;

}
td{
    padding: 5px;
}