:root {
  --red: red;
  --black: black;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}
header {
  background-color: orange;
}
.container {
  width: 800px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  border-right: 0.5px solid white;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
  padding: 20px 80px;
  color: white;
  text-decoration: none;
}
.section1 {
    margin-top: 20px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  padding: 10px;
}
.card-img {
  background-image: url(../img/cardIm.jpg);
  background-size: cover;
  width: 100%;
  height: 150px;
}
.card-btn {
  text-align: center;
  border: 1px solid var(--red);
  margin-top: 10px;
  padding: 8px;
  box-shadow: 2px 2px 3px red;
}
.card-btn a {
    color: rgb(11, 11, 11);
    text-decoration: none;
}
.parallelogram{
    transform: skew(-20deg);
}

/* end section1 */

.section2 {
  background-color: bisque;
  margin-top: 20px;
  padding: 10px;
}
.section2 h2 {
    margin-bottom: 20px;
}
dt {
  background-color: var(--red);
  color: white;
  padding: 10px;
}
dd {
  padding: 10px;
}

/* end section2 */
.section3 {
    margin-top: 20px;
}
.section3 h2 {
    margin-bottom: 20px;
}
.card-box2 {
  display: flex;
  flex-wrap: wrap;
}

.card2 {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  padding: 20px;
  margin-right: 10px;
}
.card2 h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
span.small {
  font-size: 15px;
}

.card2 p {
  text-align-last: center;
}
.card2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card2 ul li {
  border-bottom: 0.5px solid gray;
  position: relative;
  padding: 8px 18px 8px;
}
.card2 ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 12px;
  background-color: orange;
}
.btn1, .btn2, .btn3 {
  text-align: center;
  border: 1px solid var(--red);
  border-radius: 10px;
  margin-top: 10px;
  padding: 8px;
}

.card-detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.btn4, .btn5, .btn6  {
    margin-left: 50px;
    text-align: center;
    width: 70px;   
    border: 1px solid var(--red);
    border-radius: 40px;
    margin-top: 10px;
    padding: 5px;
}
.btn1 a, .btn2 a,.btn3 a,.btn4 a, .btn5 a, .btn6 a {
    text-decoration: none;
    color: white;
}
.btn1,.btn4 {
    background-color: orange;
}
.btn2, .btn5 {
    background-color: rgb(13, 13, 99);
}
.btn3, .btn6 {
    background-color: rgb(6, 49, 6);
}
footer {
    background-color: black;
}
footer p {
    color: aliceblue;
    text-align: center;
    padding: 5px;
}

