* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffb63b;
  --pink: #ffd2c6;
  --gray: #8d8d8d;
  --black: #3b3735;
  --lightorange: #ff8a6c;
  --orange: #e76f51;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
body {
  background-color: rgb(252, 247, 248);
}
section {
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: white;
}
/* ---------------------start header section----------------- */
header {
  background-image: url(/Day5Assign/assets/img/bg1.png);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
nav .list1 {
  width: 70%;
  padding: 25px 0;
}
nav .list2 {
  padding: 20px 0;
}

nav .list2 ul li:first-child {
  padding: 5px 0;
}
nav .list2 ul li:last-child {
  width: 80px;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.head {
  color: white;
  width: 500px;
  margin: 0 auto;
}
.head h1 {
  text-align: center;
}
.head p {
  padding: 20px 30px;
  text-align: center;
}
.discover-btn {
  background-color: var(--lightorange);
  width: 120px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 200px;
  text-align: center;
}

/* ---------------------end header section----------------- */

/* ---------------------start body first section----------------- */
.card-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 25px;
  margin-top: -100px;
}
.card {
  border-radius: 15px;
  background-color: white;
  width: 25%;
  padding: 20px;
}
.card-img,
.card-body {
  text-align: center;
}
.card-img img {
  width: 50px;
  height: 70px;
  padding: 10px 0;
}
.card-body p {
  padding: 10px;
}
/* ---------------------end body first section----------------- */

/* ---------------------start body second section----------------- */
.sec-2-heading {
  width: 500px;
  margin: 20px auto;
}
.sec-2-heading h2 {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.sec-2-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--orange);
  position: relative;
}
.sec-2-img img {
  width: 70px;
  height: 50px;
  position: absolute;
  left: -8px;
}

.sec-2-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sec2-card {
  background-color: white;
  border-radius: 20px;
  width: calc((100% / 4) - 15px);
}
.sec2-card-img {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
.sec2-card-img img {
  width: 100%;
  border-radius: 20px;
}
.sec2-card span {
  color: var(--orange);
  width: 100px;
  padding: 10px;
  text-align: center;
  position: absolute;
  background-color: white;
  border: 0.5px solid white;
  border-radius: 10px;
  left: 50px;
  top: 110px;
}
.card-btn {
  background-color: var(--gray);
  border-radius: 20px;
  padding: 10px;
  width: 130px;
  margin: 20px auto;
}
.heart {
  border-radius: 10px;
  width: 25px;
  height: 25px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
i {
  color: var(--orange);
  padding: 5px;
}
.view-all-btn {
  border: 1px solid var(--orange);
  border-radius: 15px;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin: 20px auto;
}
.view-all-btn a {
  color: var(--orange);
}
/* ---------------------end body second section----------------- */
/* ---------------------start body third section----------------- */

.tank {
  width: 100%;
  position: relative;
}
.tank img {
  width: 100%;
  border-radius: 20px;
}
.tank-para {
  width: 500px;
  position: absolute;
  top: 60px;
  left: 40px;
}
.tank-para h2 {
  margin-bottom: 25px;
}

.mail {
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  margin-top: 20px;
  padding: 15px;
  width: 350px;
}
input {
  border: none;
}

.send-img {
  width: 20px;
  margin-left: 100px;
}
/* ---------------------end body third section----------------- */

/* ---------------------start footer section----------------- */

footer {
  background-color: var(--pink);
  margin-top: 100px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}
.footer-sec {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-top: 40px;
  position: relative;
}
.download h3 {
  margin: 20px 20px;
}
.download {
  width: 400px;
}
.download-app-img {
  margin-left: 20px;
}
.download p {
  text-align: left;
}
.know h3,
.plan h3,
.help h3 {
  margin: 20px 0;
}
.footer-sec ul {
  list-style: none;
}
.footer-sec ul li a {
  color: black;
}
footer p {
  margin-left: 20px;
}
.copy {
  text-align: center;
  padding: 15px;
}
.arr-img {
  border-radius: 10px;
  width: 35px;
  height: 35px;
  background-color: white;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: -15px;
  right: 80px;
}
